*{
    box-sizing: border-box;
}
body{
    background-color: black;
}

#WorkSpace{
    color: white;
    /* cursor: alias; */
}

header{
    display: flex;
    justify-content: space-between;
    padding: 50px 300px;
}
.right , .left{
    font-size: 35px;
}
.right{
    font-weight: bold;
}
.AddList{
    cursor: pointer;
}
.PlusIcon{
    color: dodgerblue;
}
.add_item{
    font-size: 28px;
}
#SingleTag{
    font-weight: bold;
    font-size: 42px;
    margin-right: 10px auto;
}


#ToDoContainer{
    margin: 0px 180px;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.SinglePage{
    margin-left: 40em;
}
/* ************************ POPUP ITEMS *************************/
.PopUp{
    position: fixed;
    top: 10em;
    left: 35em;
    text-align: center;
    display: none;
}
.PopUp_List{
    width: 400px;
    height: 200px;
    border: 1px solid tomato;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    position: absolute;
}
.PopUp_Head{
    font-size: 20px;
    color: tomato;
}
.PopUp input{
    text-align: center; 
    border-radius: 5px; 
    height: 40px;
    box-shadow: inset 0px 0px 4px black;
}
.PopUp input:focus{
    box-shadow: inset 0px 0px 1px black;
}
.Btn{
    cursor: pointer;
    font-size: 22px;
    color: white;
    border: 1px solid tomato;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: tomato;
    
}

/*************************** FOR TODO CARDS*******************/

.Todo_Cards{
    min-height: 350px;
    width: 230px;
    background-color: white;
    border: 1px groove tomato;
    border-radius: 10px;
    position: relative;
    margin: 30px;
}
.Card_Title{
    color: crimson;
    font-size: 25px;
    text-align: center;
    height: 40px;
    border-bottom: 1px solid black;
    margin-top: 20px;
    cursor: pointer;
}
.Add_Items{
    min-height: 225px;
    margin-top: 5px;
    text-align: center;
}

.Button_Area{
    font-size: 25px;
    width: 90px;
    float: right;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}
.New_Task{
    color: dodgerblue;
    cursor: pointer;
    
}
.Delete_Card{
    background-color: tomato;
    color: white;
    height: 44px;
    width: 44px;
    padding-top: 10px;
    border-radius: 50%;
    align-self: center;
    text-align:center;
    cursor: pointer;
}



/* ******************************* */

.Notes{
    font-size: 20px;
    color: black;
    /* text-align: center;
    cursor: grab; */
    /* text-decoration: line-through; */
}

.TaskDone{
    color: white;
    font-size: 10px;
    background-color: rgb(66, 116, 211);
    border: 1px solid rgb(66, 116, 211);
    border-radius: 15px;
    padding: 5px;
    vertical-align: 25%;
    cursor: pointer;
    margin-left: 10px;
}

@media screen and (min-width : 320px) and (max-width:426px) {
    header{
        padding: 20px 10px;
    }
    .right , .left{
        font-size: 30px;
    }
    .add_item{
        font-size: 23px;
    }
    .PopUp{
        top: 10em;
        left: 14vw;
    }
    .PopUp_List{
        width: 300px;
        height: 180px;
        padding: 20px;
    }
    /* .PopUp input{
        height: 30px;
    } */
    /* .Btn{ */
        /* font-size: 20px; */
        /* height: 30px; */
        /* width: 80px;  */
    /* } */
    #ToDoContainer{
        margin: 30px 10px;  
        font-size: 25px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #back{
        font-size: 1.5em;
        left: 50px;
    }
    #SingleTag {
        font-size: 32px;
        margin-right: 40px;
        margin-top: 50px;
    }
    .SinglePage{
        margin: 0px;
    }
    .Todo_Cards{
        margin: 30px auto;
    }
}